{% extends "log_main.html" %}
{% block title %} User Home {% endblock %}

{% block content %}
<form method="POST">
    <div class="row">
            <div class="col-md-4 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="col-md-4 form-group mt-3 mt-md-0">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div>
            <div class="col-md-4 form-group mt-3 mt-md-0">
              <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Phone" required>
            </div>
    </div>

    <div class="row">
            <div class="col-md-4 form-group mt-3">
                <textarea type="text" name="date" class="form-control" id="date" placeholder="Appointment Date" ></textarea>
            </div>

        <div class="form-group mt-3">
            <textarea class="form-control" name="message" id="message" rows="5" placeholder="Message (Optional)"></textarea>
          </div>
        <br />
          <br />
     <div class="text-center"><button type="submit">Make an Appointment</button></div>

    </div>
</form>


{% endblock %}